@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.header {
}
.page {
    flex: 1 1 auto;
    padding: 100px;
}
h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
}
h1:not(:last-child){
    margin-bottom: 40px;
}
h2{
    font-size: 32px;
    font-weight: 700;
}
h2:not(:last-child){
    margin-bottom: 20px;
}
h3{
    font-weight: 500;
}
h3:not(:last-child){
    margin-bottom: 15px;
}
.video-section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.video-section:not(:last-child) {
    margin-bottom: 50px;
}
.video-section__task {
    padding: 30px 15px;
    border: 1px solid rgb(38, 36, 41);
    border-radius: 10px;
    background-color: rgb(224, 219, 227);
}
.video-section__task p{
    line-height: 1.6;
}
.video-section__task p:not(:last-child){
    margin-bottom: 10px;
}
.video-section__task:not(:last-child){
    margin-bottom: 25px;
}
.video-section__title-task {
}
.footer {
}